 .u-section-1 {
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 110px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 100px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-size: cover;
  height: auto;
  width: 100%;
  box-shadow: 5px 5px 20px 0 rgba(255,255,255,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  min-height: 119px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-text-1 {
  font-weight: 800;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  line-height: 1;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  order: 0;
  min-height: 435px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 8px;
  margin-bottom: 0;
  width: 100%;
  min-height: 478px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 0 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  font-size: 0.625rem;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: -1px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: 35px auto 0 0;
}

.u-section-1 .u-shape-1 {
  width: 35px;
  height: 6px;
  margin: 11px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-btn-4 {
  letter-spacing: 1px;
  filter: none;
  border-style: solid;
  margin: 63px auto 0 0;
  padding: 9px 38px 9px 37px;
}

.u-section-1 .u-layout-cell-3 {
  order: 1;
  min-height: 486px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 0 0;
}

.u-section-1 .u-group-3 {
  width: 500px;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-size: cover;
  min-height: 446px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 12px 0;
}

.u-section-1 .u-form-1 {
  --color-var: #00000080;
  height: 420px;
  width: 420px;
  margin: 0 auto;
}

.u-section-1 .u-form-group-1 {
  margin-top: 0;
}

.u-section-1 .u-form-group-4 {
  margin-top: 10px !important;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-size: 1rem;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  --top-left-radius: 100px;
  --bottom-right-radius: 100px;
  padding: 10px 75px 10px 74px;
}

.u-section-1 .u-image-1 {
  width: 36px;
  height: 59px;
  margin: -83px auto 24px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 1000px;
  }

  .u-section-1 .u-group-1 {
    --radius: 50px;
    min-height: 100px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 2px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 359px;
  }

  .u-section-1 .u-group-2 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    --bottom-right-radius: 100px;
    height: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 401px;
  }

  .u-section-1 .u-group-3 {
    --radius: 50px;
    width: 470px;
    height: auto;
  }

  .u-section-1 .u-form-1 {
    --radius: 0px;
    --top-left-radius: 0px;
    --top-right-radius: 50px;
    --bottom-right-radius: 0px;
    --bottom-left-radius: 50px;
  }

  .u-section-1 .u-btn-6 {
    --top-right-radius: 100px;
    --bottom-left-radius: 100px;
    --top-left-radius: 0px;
    --bottom-right-radius: 0px;
    --radius: 0px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 668px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 80px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 20px;
  }

  .u-section-1 .u-group-1 {
    min-height: 80px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 4px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 462px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 0 0 0 20px;
  }

  .u-section-1 .u-group-2 {
    width: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 274px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 462px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 0;
  }

  .u-section-1 .u-group-3 {
    width: 360px;
    margin-left: 30px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-form-1 {
    height: 392px;
    width: 300px;
    --radius: 50px;
  }

  .u-section-1 .u-btn-5 {
    font-size: 0.625rem;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 486px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 326px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 13px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 476px;
  }

  .u-section-1 .u-container-layout-5 {
    padding: 15px;
  }

  .u-section-1 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-form-1 {
    height: 418px;
    --radius: 0px;
    width: 90%;
    margin-top: -10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 306px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 399px;
  }

  .u-section-1 .u-group-2 {
    min-height: 390px;
    width: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.6666666666666665rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.6666666666666665rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.6666666666666665rem;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 16px;
    margin-right: 150px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 25px;
    margin-right: 200px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 477px;
  }

  .u-section-1 .u-group-3 {
    border-style: solid;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    height: 409px;
    margin-top: 11px;
  }

  .u-section-1 .u-form-group-1 {
    margin-top: -9px !important;
  }

  .u-section-1 .u-btn-6 {
    --top-right-radius: 50px;
    --bottom-left-radius: 50px;
  }
} .u-section-2 {
  --color-var: #0f0f0f;
  min-height: 541px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto 10px;
}

.u-section-2 .u-layout-cell-1 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  min-height: 531px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-group-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 453px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  margin: 21px 271px 0 0;
}

.u-section-2 .u-shape-1 {
  width: 35px;
  height: 6px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 10px auto 0 0;
}

.u-section-2 .u-group-2 {
  height: auto;
  filter: none;
  width: 560px;
  min-height: 378px;
  margin: 20px auto -25px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 531px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-group-3 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 502px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 0 13px;
}

.u-section-2 .u-image-1 {
  height: 448px;
  object-position: 50% 23.91%;
  box-shadow: 5px 5px 20px 0 rgba(255,209,1,0.4);
  width: 563px;
  --radius: 50px;
  margin: 0 0 0 auto;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 448px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 1000px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 560px;
  }

  .u-section-2 .u-group-1 {
    min-height: 585px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 171px;
  }

  .u-section-2 .u-group-2 {
    --radius: 50px;
    --bottom-right-radius: 50px;
    --top-right-radius: 50px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    --top-left-radius: 50px;
    --bottom-left-radius: 50px;
    width: 470px;
    min-height: 483px;
    height: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 18px;
    margin-bottom: -18px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 560px;
  }

  .u-section-2 .u-group-3 {
    min-height: 560px;
    height: auto;
  }

  .u-section-2 .u-image-1 {
    object-position: 52.54% 51.05%;
    background-size: 158%;
    height: 335px;
    margin-top: 90px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 345px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 691px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-2 .u-group-1 {
    min-height: 691px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 20px 0 0 20px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-right: 61px;
  }

  .u-section-2 .u-group-2 {
    min-height: 605px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 691px;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 20px;
  }

  .u-section-2 .u-image-1 {
    background-size: auto 158%;
    height: 350px;
    margin-top: 135px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1139px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 503px;
  }

  .u-section-2 .u-group-1 {
    min-height: 503px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 13px 15px;
  }

  .u-section-2 .u-group-2 {
    min-height: 410px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 586px;
  }

  .u-section-2 .u-group-3 {
    margin-bottom: -22px;
    min-height: 608px;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 15px;
  }

  .u-section-2 .u-image-1 {
    height: 569px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 904px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 15px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-group-2 {
    --radius: 0px;
    --top-left-radius: 0px;
    --bottom-left-radius: 0px;
    margin-top: 18px;
    margin-bottom: -24px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 0;
  }

  .u-section-2 .u-group-3 {
    min-height: 331px;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    object-position: 53.22% 73.69%;
    height: 310px;
    margin-top: 2px;
    width: 100%;
    background-size: 158%;
    margin-right: 0;
    margin-left: auto;
  }
} .u-section-3 {
  --color-var: #0f0f0f;
  min-height: 493px;
}

.u-section-3 .u-group-1 {
  height: auto;
  min-height: 456px;
  width: 1140px;
  margin: 0 auto 36px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-3 .u-shape-1 {
  width: 35px;
  height: 6px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 11px auto 0 0;
}

.u-section-3 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  --gap: 20px;
  grid-auto-columns: calc(33.3333% - 13.3333px);
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 344px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-icon-1 {
  width: 80px;
  height: 80px;
  background-image: none;
  border-style: solid;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
  padding: 15px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-icon-2 {
  width: 80px;
  height: 80px;
  background-image: none;
  border-style: solid;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
  padding: 15px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-icon-3 {
  width: 80px;
  height: 80px;
  background-image: none;
  border-style: solid;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
  padding: 15px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-icon-4 {
  width: 80px;
  height: 80px;
  background-image: none;
  border-style: solid;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
  padding: 15px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 10px;
}

.u-section-3 .u-icon-5 {
  width: 80px;
  height: 80px;
  background-image: none;
  border-style: solid;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
  padding: 15px;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 10px;
}

.u-section-3 .u-icon-6 {
  width: 80px;
  height: 80px;
  background-image: none;
  border-style: solid;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
  padding: 15px;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    min-height: 493px;
    width: 1000px;
    margin-bottom: -800px;
    height: auto;
  }

  .u-section-3 .u-shape-1 {
    margin-right: 965px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: -49px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 432px;
  }

  .u-section-3 .u-icon-1 {
    border-style: dashed;
  }

  .u-section-3 .u-icon-2 {
    border-style: dashed;
  }

  .u-section-3 .u-icon-3 {
    border-style: dashed;
  }

  .u-section-3 .u-icon-4 {
    border-style: dashed;
  }

  .u-section-3 .u-icon-6 {
    border-style: dashed;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 693px;
  }

  .u-section-3 .u-group-1 {
    min-height: 648px;
    margin-bottom: 45px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 20px 20px 0;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 10px;
    margin-right: 685px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 4px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 10px);
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 501px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1175px;
  }

  .u-section-3 .u-group-1 {
    margin-bottom: 60px;
    min-height: 1109px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-3 .u-shape-1 {
    margin-right: auto;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: -36px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1142px;
  }

  .u-section-3 .u-group-1 {
    margin-bottom: 19px;
    min-height: 1050px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 15px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 11px;
    margin-right: 305px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 3px;
  }

  .u-section-3 .u-icon-1 {
    border-style: solid;
    --animation-custom_in-translate_x: -200px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-icon-2 {
    border-style: solid;
    --animation-custom_in-translate_x: -200px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-icon-3 {
    border-style: solid;
    --animation-custom_in-translate_x: -200px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-icon-4 {
    border-style: solid;
    --animation-custom_in-translate_x: -200px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-icon-6 {
    border-style: solid;
    --animation-custom_in-translate_x: -200px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.1111111111111112rem;
  }
} .u-section-4 {
  --color-var: #0f0f0f;
  min-height: 381px;
}

.u-section-4 .u-group-1 {
  min-height: 365px;
  height: auto;
  width: 1140px;
  margin: 8px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 17px 0;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-4 .u-shape-1 {
  width: 35px;
  height: 6px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 11px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 1px;
  filter: none;
  border-style: solid;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 23px auto 0 0;
  padding: 9px 29px 10px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 1000px;
    margin-top: 0;
    height: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 3px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 20px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 0;
  }

  .u-section-4 .u-group-1 {
    min-height: 458px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 15px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    min-height: 497px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 114px;
  }
} .u-section-5 {
  --color-var: #0f0f0f;
  min-height: 728px;
}

.u-section-5 .u-group-1 {
  min-height: 650px;
  height: auto;
  width: 1140px;
  margin: 8px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 17px 0 0;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-5 .u-shape-1 {
  width: 35px;
  height: 6px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 10px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 100%;
  margin: 3px 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  font-size: 1rem;
  margin: 0 186px 25px 172px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-5 .u-btn-5 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-5 .u-btn-6 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-5 .u-btn-7 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-5 .u-btn-8 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-5 .u-btn-9 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-5 .u-btn-10 {
  font-weight: 400;
  padding: 0;
}

.u-section-5 .u-btn-11 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-5 .u-btn-12 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-5 .u-btn-13 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-5 .u-btn-14 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-5 .u-btn-15 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-5 .u-btn-16 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-5 .u-btn-17 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 1000px;
    height: auto;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 0;
  }

  .u-section-5 .u-text-3 {
    width: 897px;
    margin-left: 72px;
    margin-right: 86px;
  }

  .u-section-5 .u-btn-10 {
    transition-duration: 0.5s;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 20px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 20px;
  }

  .u-section-5 .u-shape-1 {
    margin-left: 20px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 3px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-5 .u-text-3 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding: 15px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
  }

  .u-section-5 .u-shape-1 {
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 13px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 14px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 641px;
  }

  .u-section-5 .u-group-1 {
    min-height: 535px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: 15px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    order: 0;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-5 .u-text-3 {
    font-size: 0.875rem;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 19px;
  }
} .u-section-6 {
  background-size: cover;
  background-position: 50% 100%;
  min-height: 798px;
}

.u-section-6 .u-group-1 {
  min-height: 569px;
  height: auto;
  width: 1140px;
  margin: 140px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-group-2 {
  width: 845px;
  min-height: 338px;
  height: auto;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-text-1 {
  font-style: italic;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  margin: 22px auto 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  margin: 24px auto 0;
}

.u-section-6 .u-btn-1 {
  letter-spacing: 1px;
  filter: none;
  border-style: solid;
  --bottom-right-radius: 300px;
  --top-left-radius: 300px;
  box-shadow: 5px 5px 20px 0 rgba(255,255,255,0.4);
  margin: 22px auto 0;
  padding: 9px 45px 10px;
}

.u-section-6 .u-social-icons-1 {
  height: 37px;
  width: 153px;
  margin: 0 auto;
}

.u-section-6 .u-icon-1 {
  height: 0;
  color: rgb(59, 89, 152) !important;
}

.u-section-6 .u-icon-2 {
  height: 0;
}

.u-section-6 .u-icon-3 {
  height: 0;
  background-image: none;
}

@media (max-width: 1199px) {
   .u-section-6 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    min-height: 658px;
  }

  .u-section-6 .u-group-1 {
    width: 1000px;
    height: auto;
  }

  .u-section-6 .u-group-2 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    --top-left-radius: 200px;
    --bottom-right-radius: 200px;
    height: auto;
  }

  .u-section-6 .u-btn-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: 20px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 504px;
  }

  .u-section-6 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 20px;
  }

  .u-section-6 .u-group-2 {
    width: 720px;
  }

  .u-section-6 .u-container-layout-2 {
    padding: 0;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 378px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-2 {
    width: 520px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 338px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 15px;
  }

  .u-section-6 .u-group-2 {
    --top-left-radius: 100px;
    --bottom-right-radius: 100px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 1rem;
    margin-top: 17px;
  }

  .u-section-6 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 12px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: -10px;
  }
}