 .u-section-1 {
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(rgba(24, 42, 250, 0) 90%, rgb(15, 15, 15) 97%), url("images/UVision_kontakt_bg.jpg");
  background-position: 50% 50%, 50% 0%;
  background-size: cover, cover;
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 110px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 120px;
  background-repeat: no-repeat;
  --radius: 50px;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.7) 40%, rgba(255, 209, 1, 0) 95%);
  background-position: 50% 50%;
  filter: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-text-1 {
  filter: none;
  text-shadow: 3px 3px 5px rgba(255,255,255,0.4);
  margin: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 510px;
  background-repeat: no-repeat;
  --radius: 50px;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.7) 40%, rgba(255, 209, 1, 0) 95%);
  background-position: 50% 50%;
  filter: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 0 30px;
}

.u-section-1 .u-shape-1 {
  width: 35px;
  height: 6px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  line-height: 1.2;
  font-size: 1.125rem;
  margin: 57px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 704px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 1000px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-size: cover;
    min-height: 99px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-size: cover;
    min-height: 429px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 300px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding: 15px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 670px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 31px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50% 50%, 59.82% 50%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 682px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 21px;
  }
} .u-section-2 {
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-2 .u-group-1 {
  min-height: 569px;
  height: auto;
  width: 1140px;
  margin: 140px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-group-2 {
  width: 845px;
  min-height: 338px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-style: italic;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 22px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 24px auto 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  filter: none;
  border-style: solid;
  --bottom-right-radius: 300px;
  --top-left-radius: 300px;
  box-shadow: 5px 5px 20px 0 rgba(255,255,255,0.4);
  margin: 22px auto 0;
  padding: 9px 45px 10px;
}

.u-section-2 .u-social-icons-1 {
  height: 37px;
  width: 153px;
  margin: 0 auto;
}

.u-section-2 .u-icon-1 {
  height: 0;
  color: rgb(59, 89, 152) !important;
}

.u-section-2 .u-icon-2 {
  height: 0;
}

.u-section-2 .u-icon-3 {
  height: 0;
  background-image: none;
}

.u-section-2 .u-custom-html-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 1000px;
    height: auto;
  }

  .u-section-2 .u-group-2 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    --top-left-radius: 200px;
    --bottom-right-radius: 200px;
    height: auto;
  }

  .u-section-2 .u-btn-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 20px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 20px;
  }

  .u-section-2 .u-group-2 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    width: 520px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding: 15px;
  }

  .u-section-2 .u-group-2 {
    --top-left-radius: 100px;
    --bottom-right-radius: 100px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-top: 17px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 12px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: -10px;
  }
}