 .u-section-1 {
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 110px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 121px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-size: cover;
  height: auto;
  width: 100%;
  box-shadow: 5px 5px 20px 0 rgba(255,255,255,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
  min-height: 119px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-text-1 {
  font-weight: 800;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  line-height: 1;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 475px;
}

.u-section-1 .u-container-layout-3 {
  padding: 15px 15px 15px 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-1 .u-shape-1 {
  width: 35px;
  height: 6px;
  margin: 11px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  filter: none;
  border-style: solid;
  margin: 82px auto 0 0;
  padding: 9px 29px 10px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 475px;
}

.u-section-1 .u-container-layout-4 {
  padding: 15px 0 15px 30px;
}

.u-section-1 .u-image-1 {
  height: 415px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 50px;
  box-shadow: 5px 5px 20px 0 rgba(255,209,1,0.4);
  object-position: 50% 57%;
}

.u-section-1 .u-image-2 {
  width: 36px;
  height: 59px;
  margin: -85px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 1000px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    min-height: 100px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 2px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 392px;
  }

  .u-section-1 .u-btn-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 392px;
  }

  .u-section-1 .u-image-1 {
    height: 338px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 786px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 80px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 20px;
  }

  .u-section-1 .u-group-1 {
    min-height: 80px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 4px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 491px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 491px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 20px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 400px;
    margin-top: 41px;
    width: 100%;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1024px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 494px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 990px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 75px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 362px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 40px;
    margin-right: 158px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 353px;
  }

  .u-section-1 .u-image-1 {
    height: 300px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  --color-var: #0f0f0f;
  min-height: 803px;
}

.u-section-2 .u-group-1 {
  height: auto;
  min-height: 780px;
  width: 1140px;
  margin: 0 auto 23px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  margin: 20px 80px 0 0;
}

.u-section-2 .u-shape-1 {
  width: 35px;
  height: 6px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 11px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  padding-left: 9px;
  margin: 25px 0 -2px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 0;
  }

  .u-section-2 .u-group-1 {
    min-height: 840px;
    width: 1000px;
    margin-bottom: 0;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 10px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    min-height: 962px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0 20px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 3px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    min-height: 840px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 13px 15px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1338px;
  }

  .u-section-2 .u-group-1 {
    min-height: 1338px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    margin-top: 30px;
  }
} .u-section-3 {
  --color-var: #0f0f0f;
  min-height: 0;
}

.u-section-3 .u-group-1 {
  height: auto;
  width: 1140px;
  min-height: 333px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 0 23px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-3 .u-shape-1 {
  width: 35px;
  height: 6px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 21px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 404px;
  }

  .u-section-3 .u-group-1 {
    width: 1000px;
    min-height: 394px;
    margin-bottom: 9px;
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 10px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 0;
  }

  .u-section-3 .u-group-1 {
    min-height: 355px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    min-height: 423px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 13px 15px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 21px;
    margin-right: 575px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 478px;
  }

  .u-section-3 .u-group-1 {
    min-height: 478px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 10px;
    margin-right: 285px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
  }
} .u-section-4 {
  --color-var: #0f0f0f;
  min-height: 793px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 20px auto 5px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 87px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-4 .u-shape-1 {
  width: 35px;
  height: 6px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 11px auto 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 665px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 665px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 100%;
  height: 500px;
  --radius: 50px;
  box-shadow: 5px 5px 20px 0 rgba(255,209,1,0.4);
  margin: 38px auto 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 889px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 1000px;
    margin-bottom: 10px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 98px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 757px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 757px;
  }

  .u-section-4 .u-image-1 {
    height: 600px;
    margin-top: 89px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 52px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 0 20px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 899px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 0 0 0 20px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 899px;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 0 20px 0 0;
  }

  .u-section-4 .u-image-1 {
    height: 500px;
    object-position: 16.35% 50%;
    margin-top: 193px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 92px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 576px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 565px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 113px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 4px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 353px;
  }

  .u-section-4 .u-image-1 {
    height: 300px;
    margin-top: 16px;
  }
} .u-section-5 {
  --color-var: #0f0f0f;
  min-height: 567px;
}

.u-section-5 .u-group-1 {
  min-height: 531px;
  height: auto;
  width: 1140px;
  margin: 18px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 15px;
}

.u-section-5 .u-image-1 {
  height: 500px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  object-position: 50% 44.78%;
  --radius: 50px;
  box-shadow: 5px 5px 20px 0 rgba(255,209,1,0.4);
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    min-height: 630px;
    width: 1000px;
    height: auto;
  }

  .u-section-5 .u-image-1 {
    height: 600px;
    width: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 348px;
  }

  .u-section-5 .u-group-1 {
    min-height: 348px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    height: 300px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-6 {
  --color-var: #0f0f0f;
  min-height: 239px;
}

.u-section-6 .u-group-1 {
  height: auto;
  width: 1140px;
  min-height: 438px;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-6 .u-shape-1 {
  width: 35px;
  height: 6px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 11px auto 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 206px;
  }

  .u-section-6 .u-group-1 {
    min-height: 489px;
    width: 1000px;
    height: auto;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-right: 140px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: 10px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 21px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 0;
  }

  .u-section-6 .u-group-1 {
    min-height: 509px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 624px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 13px 15px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    min-height: 714px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
} .u-section-7 {
  --color-var: #0f0f0f;
  min-height: 567px;
}

.u-section-7 .u-group-1 {
  min-height: 531px;
  height: auto;
  width: 1140px;
  background-image: none;
  margin: 0 auto 18px;
}

.u-section-7 .u-container-layout-1 {
  padding: 15px;
}

.u-section-7 .u-gallery-1 {
  height: 650px;
  width: 100%;
  margin: 0;
}

.u-section-7 .u-gallery-inner-1 {
  --gap: 10px;
  grid-template-columns: repeat(1, auto);
}

.u-section-7 .u-back-image-1 {
  object-position: 50% 44.6%;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 0;
  }

  .u-section-7 .u-group-1 {
    width: 1000px;
    min-height: 680px;
    margin-bottom: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    min-height: 531px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 11px;
  }

  .u-section-7 .u-gallery-1 {
    height: 500px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 293px;
  }

  .u-section-7 .u-group-1 {
    margin-bottom: 22px;
    min-height: 271px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-7 .u-gallery-1 {
    height: 250px;
  }
} .u-section-8 {
  --color-var: #0f0f0f;
  min-height: 113px;
}

.u-section-8 .u-group-1 {
  height: auto;
  min-height: 111px;
  width: 1140px;
  margin: 1px auto;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-8 .u-btn-1 {
  letter-spacing: 1px;
  filter: none;
  border-style: solid;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 21px auto 0 0;
  padding: 9px 29px 10px;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 131px;
  }

  .u-section-8 .u-group-1 {
    min-height: 116px;
    width: 1000px;
    margin-bottom: 14px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding: 10px 15px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 152px;
  }

  .u-section-8 .u-group-1 {
    min-height: 152px;
    margin-bottom: -1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-9 {
  --color-var: #0f0f0f;
  min-height: 279px;
}

.u-section-9 .u-group-1 {
  height: auto;
  width: 1140px;
  min-height: 331px;
  margin: 0 auto;
}

.u-section-9 .u-container-layout-1 {
  padding: 0 0 20px;
}

.u-section-9 .u-text-1 {
  text-transform: uppercase;
  margin: 30px auto 0 0;
}

.u-section-9 .u-shape-1 {
  width: 35px;
  height: 6px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 10px 1105px 0 0;
}

.u-section-9 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-1 {
    width: 1000px;
    min-height: 379px;
    height: auto;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 0;
  }

  .u-section-9 .u-shape-1 {
    margin-top: 20px;
    margin-right: 905px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
   .u-section-9 {
    min-height: 101px;
  }

  .u-section-9 .u-group-1 {
    min-height: 358px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-container-layout-1 {
    padding: 0 20px;
  }

  .u-section-9 .u-shape-1 {
    margin-top: 10px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-container-layout-1 {
    padding: 13px 15px;
  }

  .u-section-9 .u-shape-1 {
    margin-right: 505px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-group-1 {
    margin-top: 21px;
    min-height: 468px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-9 .u-shape-1 {
    margin-right: auto;
  }
} .u-section-10 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-10 .u-group-1 {
  min-height: 569px;
  height: auto;
  width: 1140px;
  margin: 140px auto 0;
}

.u-section-10 .u-container-layout-1 {
  padding: 0;
}

.u-section-10 .u-group-2 {
  width: 845px;
  min-height: 338px;
  height: auto;
  margin: 0 auto;
}

.u-section-10 .u-container-layout-2 {
  padding: 0;
}

.u-section-10 .u-text-1 {
  font-style: italic;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-10 .u-text-2 {
  font-size: 1.5rem;
  margin: 22px auto 0;
}

.u-section-10 .u-text-3 {
  font-size: 1.25rem;
  margin: 24px auto 0;
}

.u-section-10 .u-btn-1 {
  letter-spacing: 1px;
  filter: none;
  border-style: solid;
  --bottom-right-radius: 300px;
  --top-left-radius: 300px;
  box-shadow: 5px 5px 20px 0 rgba(255,255,255,0.4);
  margin: 22px auto 0;
  padding: 9px 45px 10px;
}

.u-section-10 .u-social-icons-1 {
  height: 37px;
  width: 153px;
  margin: 0 auto;
}

.u-section-10 .u-icon-1 {
  height: 0;
  color: rgb(59, 89, 152) !important;
}

.u-section-10 .u-icon-2 {
  height: 0;
}

.u-section-10 .u-icon-3 {
  height: 0;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-10 .u-group-1 {
    width: 1000px;
    height: auto;
  }

  .u-section-10 .u-group-2 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    --top-left-radius: 200px;
    --bottom-right-radius: 200px;
    height: auto;
  }

  .u-section-10 .u-btn-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-10 .u-social-icons-1 {
    margin-top: 20px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-container-layout-1 {
    padding: 20px;
  }

  .u-section-10 .u-group-2 {
    width: 720px;
  }

  .u-section-10 .u-container-layout-2 {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-group-2 {
    width: 520px;
  }
}

@media (max-width: 575px) {
   .u-section-10 {
    min-height: 338px;
  }

  .u-section-10 .u-container-layout-1 {
    padding: 15px;
  }

  .u-section-10 .u-group-2 {
    --top-left-radius: 100px;
    --bottom-right-radius: 100px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-10 .u-text-2 {
    font-size: 1rem;
    margin-top: 17px;
  }

  .u-section-10 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 12px;
  }

  .u-section-10 .u-social-icons-1 {
    margin-top: -10px;
  }
}